<div class="form-dialog">
  <h2>Ответ</h2>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="form" novalidate>
      <mat-form-field class="example-full-width">
        <mat-label>Значение</mat-label>
        <input matInput formControlName="score">
      </mat-form-field>
    </form>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent"  [disabled]="form.invalid" (click)="submit()">Отправить</button>
    <button mat-button mat-dialog-close>Отмена</button>
  </div>
</div>

