<div class="card">
  <div class="card-title">
    <h4>Организации</h4>
    <div class="card-tite-event" (click)="openAddFormDialog()">
      <i class="material-icons  edit-icon" title="Добавить организацию">business</i>
      Добавить организацию
    </div>
  </div>
  <div class="card-body">
    <table class="table">
    <thead class="text-primary">
      <tr>
        <th>Название</th>
        <th></th>
        <th></th>
        <!---->
      </tr>
    </thead>
    <tbody class="hover-tbody">
      <tr *ngFor="let department of departments">
        <td  [routerLink]="[department.id, 'event-types']">{{department.name}}</td>
        <td class="icon-td"> <i class="material-icons  edit-icon" title="Редактировать" (click)="openEditFormDialog(department)">create</i></td>
        <td class="icon-td"> <i class="material-icons  delete-icon" title="Удалить" (click)="deleteRow(department.id)">delete_forever</i></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
