<div class="card">
  <div class="card-title">
    <h4>Магазины</h4>
    <div class="card-tite-event" (click)="openAddFormDialog()">
      <i class="material-icons  edit-icon" title="Добавить магазин">add_business</i>
      Добивить магазин
    </div>
  </div>
  <div class="card-body">
    <table class="table" matSort>
      <thead class="text-primary">
        <tr>
          <th mat-sort-header="name">Название </th>
          <!-- <i class="material-icons  sort-icon" title="Редактировать" (click)="sortData('name')">sort</i> -->
          <th>Широта</th>
          <th mat-sort-header="longitude">Долгота</th>
          <th mat-sort-header="groupId">Куст</th>
          <th>КодCM</th>
          <th>Код1C</th>
          <th mat-sort-header="mail">EMAIL директора</th>
          <th></th>
          <th></th>
          <!---->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.name}}</td>
          <td>{{item.latitude}}</td>
          <td>{{item.longitude}}</td>
          <td>{{item.groupId}}</td>
          <td>{{item.codeSm}}</td>
          <td>{{item.code1C}}</td>
          <td>{{item.mail}}</td>
          <td class="icon-td"> <i class="material-icons  edit-icon" title="Редактировать" (click)="openEditFormDialog(item)">create</i></td>
          <td class="icon-td"> <i class="material-icons  delete-icon" title="Удалить" (click)="deleteRow(item.id)">delete_forever</i></td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="totalCount"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               >
    </mat-paginator>
  </div>
</div>
