<div class="form-dialog">
  <h2>Введите сканкод</h2>
  <div mat-dialog-content>
    <form class="example-form" [formGroup]="form" novalidate>
      <mat-form-field class="example-full-width">
        <mat-label>Вопрос</mat-label>
        <input matInput formControlName="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Задача</mat-label>
        <input matInput formControlName="action">
      </mat-form-field>

      <mat-form-field class="select-field" appearance="fill">
        <mat-label>Типы событий</mat-label>
        <mat-select multiple formControlName="eventTypeIds">
          <mat-option *ngFor="let eventType of eventTypes$ | async" [value]="eventType.id">{{eventType.name}} <span class="departmen">({{eventType.departmentName}})</span></mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-field" appearance="fill">
        <mat-label>Категория</mat-label>
        <mat-select formControlName="blockId">
          <mat-option *ngFor="let questionBlock of questionBlocks$ | async" [value]="questionBlock.id">{{questionBlock.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-new-question new-select-sign">
        <span title="Добавить" (click)="openAddQuestionFormDialog()">Добавить</span>
      </div>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Мин. баллов</mat-label>
              <input matInput formControlName="minScore">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Макс. баллов</mat-label>
              <input matInput formControlName="maxScore">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Проходное значение</mat-label>
              <input matInput formControlName="passScore">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-form-field class="select-field" appearance="fill">
        <mat-label>Ранг</mat-label>
        <mat-select formControlName="rankId">
          <mat-option *ngFor="let rank of ranks$ | async" [value]="rank.id">{{rank.weight}} <span>({{rank.name}})</span></mat-option>
        </mat-select>
      </mat-form-field>
      <div class="add-new-question new-select-sign">
        <span title="Добавить" (click)="openAddRankFormDialog()">Добавить</span>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="accent"  [disabled]="form.invalid" (click)="submit()">Отправить</button>
    <button mat-button mat-dialog-close>Отмена</button>
  </div>
</div>

